.main-content {
  flex-grow: 1;
}

.hero {
  padding-top: 61px;
  padding-bottom: 124px;
  background-image: url(../img/bg.svg);
  background-position: calc(50% + 698px) 195px;
  background-repeat: no-repeat;
}

.hero__container {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.hero__content {
  display: flex;
  flex-direction: column;
  min-width: 540px;
  padding-top: 70px;
  margin-right: 65px;
  margin-left: -8px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--black);
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  letter-spacing: -0.15px;
}

.hero__description {
  margin: 0;
  margin-bottom: 32px;
}

.hero__button-wrapper {
  display: flex;
  align-items: center;
}

.hero__img {
  flex-shrink: 0;
  height: 385px;
  border-radius: 27px;
  box-shadow: 0px 2px 4px 0px #00000080;
}


/* INDEX-FEATURES  */
.index-features {
  padding-top: 57px;
  padding-bottom: 100px;
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 583px) calc(50% + 193px);
}

.index-features__content {
  margin-bottom: 40px;
}

.tabs__list {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__item {
  width: 243px;
  text-align: center;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__item--active .tabs__link {
  color: var(--black);
  border-color: var(--red);
}

.tabs__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  border-bottom: 4px solid transparent;
  color: rgba(36, 42, 69, 0.75);
}

.tabs__link:hover {
  color: var(--black);
}

.tabs__link:active {
  opacity: 0.6;
}

.tabs__link:focus {
  outline: none;
  color: var(--black);
  border-color: var(--red);
}

.tab-panels {
  padding-top: 68px;
  padding-bottom: 72px;
}

.tab-panels__tab-panel {
  display: none;
}

.tab-panels__tab-panel--active {
  display: block;
}

.tab-panels__tab-panel-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tab-panels__tab-panel-img {
  object-fit: contain;
}

.tab-panels__tab-panel-img-simple-bookmarking {
  width: 536px;
  height: 346px;
  margin-right: 125px;
}

.tab-panels__tab-panel-img-speedy-searching {
  width: 468px;
  height: 393px;
  margin-right: 118px;
}

.tab-panels__tab-panel-img-easy-sharing {
  width: 440px;
  height: 380px;
  margin-right: 145px;
}

.tab-panels__tab-panel-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  max-width: 445px;
}

.tab-panels__tab-panel-content-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--black);
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.tab-panels__tab-panel-content-description {
  margin: 0;
  margin-bottom: 31px;
}


/* EXTENSIONS  */
.extension {
  padding-top: 65px;
  padding-bottom: 75px;
}

.extension__content {
  margin-bottom: 48px;
}

.extension__list-wrapper {
  display: flex;
  justify-content: center;
}

.extension__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none  ;
}

.extension__item:not(:last-child) {
  margin-right: 34px;
}

.extension__item:nth-child(3n+2) {
  margin-top: 40px;
}

.extension__item:nth-child(3n) {
  margin-top: 80px;
}

.extension__card {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 49px 24px 24px 24px;
  background-image: url(../img/bg-dote.svg);
  background-repeat: no-repeat;
  background-position: center calc(75% - 10px);
}

.extension__img {
  height: 100px;
  object-fit: cover;
  margin-bottom: 32px;
}

.extension__card-content {
  text-align: center;
  margin-bottom: 60px;
}

.extension__card-title {
  margin-top: 0;
  margin-bottom: 6px;
  color: var(--black);
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.extension__card-description {
  margin: 0;
  font-size: 15px;
}


/* CTA */
.cta {
  background-color: var(--blue);
}

.cta *:focus {
  outline-color: white;
}

.cta__container {
  display: flex;
  justify-content: center;
  padding-top: 58px;
  padding-bottom: 74px;
}

.cta__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__badge {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
  font-weight: 500;
  color: white;
}

.cta__title {
  margin-top: 0;
  margin-bottom: 36px;
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.cta__form-inner {
  display: flex;
}

.cta__form-input-wrapper {
  position: relative;
  display: flex;
  width: 300px;
  height: 100%;
  flex-direction: column;
  margin-right: 16px;
}

.cta__form-input {
  z-index: 15;
  min-width: 300px;
  padding: 12px 20px;
  padding-right: 52px;
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
}

.cta__form-input::placeholder {
  color: rgba(36, 42, 69, 0.2501);
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

/* VALID-INVALID  */
.cta__form-input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--red);
  background-image: url(../img/error-disc.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.cta__form-input:not(:focus):not(:placeholder-shown):invalid + .cta__form-input-errormsg {
  display: block;
}

.cta__form-input-errormsg {
  display: none;
  position: absolute;
  top: calc(100% - 5px);
  z-index: 10;
  width: 100%;
  padding: 6px 12px 4px;
  font-style: italic;
  color: white;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 0.25px;
  background-color: #fa5959;
  border-radius: 0px 0px 5px 5px;
}
