/* CUSTOM-PROPS */
:root {
  --blue: #5267Df;
  --red: #fa5959;
  --black: #242a45;
  --gray: #9194a2;
  --text-color: rgba(36, 42, 69, 0.5);

  --shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

/* FONT-FACE  */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
  url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"),
  url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"),
  url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* FOCUS-STYLES  */
*:focus {
  outline-style: dashed;
  outline-width: 3px;
  outline-color: var(--black);
}

/* CONTAINER  */
.container {
  max-width: 1164px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed var(--black);
}


/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* BUTTON  */
.button {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: color 0.3s ease,
  background-color 0.3s ease,
  opacity 0.3s ease,
  border-color 0.3s ease;
}

.button:hover {
  background-color: transparent;
}

.button:active {
  opacity: 0.6;
}

.button--red {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  background-color: var(--red);
  padding: 12px 31px;
}

.button--red:hover {
  color: var(--red);
  border-color: var(--red);
}

.button--big {
  background-color: var(--blue);
  padding: 8px 24px;
  line-height: 28px;
}

.button--big:hover {
  border-color: var(--blue);
  color: var(--blue);
}

.button--big-light {
  background-color: #f7f7f7;
  color: rgba(36, 42, 69, 0.75);
  margin-left: 16px;
}

.button--big-light:hover {
  border-color: rgba(36, 42, 69, 0.75);
  color: rgba(36, 42, 69, 0.75);
}

.button--blue {
  text-transform: capitalize;
  background-color: var(--blue);
  padding: 8px 22px;
}

.button--blue:hover {
  opacity: 0.8;
  background-color: var(--blue);
}

.button--blue:active{
  opacity: 0.6;
}

.button--big-blue {
  width: 100%;
  padding: 8px;
}

.button--red-contact-us {
  padding: 8px 22px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1.5px;
}

.button--red-contact-us:hover {
  background-color: white;
}


/* FAQ  */
.faq {
  padding-top: 70px;
  padding-bottom: 150px;
}

.faq__content {
  margin-bottom: 56px;
}

.faq__accordion {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.faq__accordion-inner {
  margin-bottom: 54px;
  width: 100%;
}

.accordion {
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.accordion:last-child {
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}

.accordion__header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 13px;
}

.accordion__header:hover .accordion__title {
  color: var(--red);
}

.accordion__title {
  flex-grow: 1;
  margin: 0;
  margin-right: 24px;
  font-size: 18px;
  line-height: 32px;
  color: var(--black);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
}

.accordion__button {
  border: none;
  background-color: transparent;
  color: var(--blue);
  transition: color 0.3s ease,
  transform 0.3s ease;
  position: absolute;
  width: calc(100% - 24px);
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.accordion__button--open {
  transform: rotateX(180deg);
  color: var(--red);
}

.accordion__button:focus {
  outline: none;
}

.accordion__button:focus::before {
  outline: 2px dashed var(--black);
}

.accordion__button-icon {
  display: block;
  width: 20px;
  height: 13px;
}

.accordion__content {
  display: none;
  padding-bottom: 13px;
}

.accordion__content--open {
  display: block;
}

.accordion__text {
  margin: 0;
  font-size: 16px;
  line-height: 36px;
  color: rgba(36, 42, 69, 0.75);
}

.accordion__text:not(:last-child) {
  margin-bottom: 20px;
}

/* SITE-FOOTER  */


/* MAIN-CONTENT  */


/* CONTENT  */
.content {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--black);
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
  letter-spacing: -0.1px;
}

.content__description {
  margin: 0;
}

/* SITE-HEADER  */



/* HERO  */
